<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="google-site-verification" content="<%= google_site_verification %>">
  <meta name="baidu-site-verification" content="<%= baidu_site_verification %>">
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <meta name="author" content="<%= author %>">
  <meta name="layout-parts" content="<%= parts %>">
  <link rel="shortcut icon" type="image/png" href="<%= favicon %>">
  <link rel="apple-touch-icon" type="image/png" href="<%= appleIcon %>">
  <link rel="manifest" href="<%= manifest %>">
  <title><%= title %></title>
  <%- adScript ? adScript : '' %>
  <%- config.babelify ? '' : $nomjs('nomodule') %>
  <%- $css('style') %>
  <%- $mjs('main') %>
</head>

<body>
  <canvas class="m-evanyou-canvas"></canvas>
  <div class="m-launch"></div>
  <div class="m-spinner">
    <div class="m-spinner-ring"></div>
  </div>
  <div class="m-progress">
    <div class="m-progress-current"></div>
  </div>
  <!-- Outside App -->
  <div class="m-app">
    <div class="m-header">
      <%- partial('_part/xdrawer') %>
      <%- partial('_part/xsearch') %>
      <%- partial('_part/sitename') %>
      <!-- END header -->
    </div>
    <div class="m-center">
      <div class="m-drawer">
        <%- partial('_part/brand') %>
        <%- partial('_part/menus') %>
        <%- partial('_part/skin') %>
        <%- partial('_part/settings') %>
        <div class="m-drawer-mark"></div>
        <!-- END drawer -->
      </div>
      <div class="m-frame">
        <div class="m-main">
          <div class="m-heaper">
            <%- partial('_part/xaside') %>
            <%- partial('_part/pather') %>
            <!-- END heaper -->
          </div>
          <%- partial('_part/translater') %>
          <div class="m-content">
            <%- partial('_part/hitokoto') %>
            <%- partial('_part/recentposts') %>
            <%- partial('_part/timeline') %>
            <%- partial('_part/post') %>
            <%- partial('_part/page') %>
            <%- partial('_part/codelib') %>
            <%- partial('_part/records') %>
            <%- partial('_part/gallery') %>
            <%- partial('_part/iconlib') %>
            <!-- END content -->
          </div>
          <%- partial('_part/comment') %>
          <%- partial('_part/empty') %>
          <!-- END main -->
        </div>
        <div class="m-aside">
          <%- partial('_part/panels') %>
          <%- partial('_part/audioplayer') %>
          <%- partial('_part/toc') %>
          <div class="m-aside-mark"></div>
          <!-- END aside -->
        </div>
      </div>
    </div>
    <div class="m-footer">
      <%- partial('_part/footer') %>
      <!-- END footer -->
    </div>
    <%- partial('_part/xcanvas') %>
    <%- partial('_part/goingto') %>
    <%- partial('_part/extension') %>
    <%- partial('_part/adframe') %>
    <%- partial('_part/search') %>
    <%- partial('_part/notification') %>
    <!-- END app -->
  </div>
</body>

</html>