<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1,maximum-scale=1,minimum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="google-site-verification" content="<%= google_site_verification %>">
  <meta name="baidu-site-verification" content="<%= baidu_site_verification %>">
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <meta name="author" content="<%= author %>">
  <meta name="layout-parts" content="<%= parts %>">
  <link rel="shortcut icon" type="image/png" href="<%= favicon %>">
  <link rel="manifest" href="<%= manifest %>">
  <title><%= title %></title>
  <%- adScript ? adScript : '' %>
  <%- config.babelify ? '' : $nomjs('nomodule') %>
  <%- $css('style') %>
  <%- $mjs('main') %>
</head>

<body>
  <canvas class="m-evanyou-canvas"></canvas>
  <div class="m-launch"></div>
  <div class="m-spinner">
    <div class="m-spinner-ring"></div>
  </div>
  <div class="m-progress">
    <div class="m-progress-current"></div>
  </div>
  <!-- Outside App -->
  <div class="m-app">
    <div class="m-header">
      <xdrawer></xdrawer>
      <xsearch></xsearch>
      <sitename></sitename>
      <!-- END header -->
    </div>
    <div class="m-center">
      <div class="m-drawer">
        <brand></brand>
        <menus></menus>
        <skin></skin>
        <settings></settings>
        <!-- END drawer -->
      </div>
      <div class="m-frame">
        <div class="m-main">
          <div class="m-heaper">
            <xaside></xaside>
            <pather></pather>
            <!-- END heaper -->
          </div>
          <translater></translater>
          <div class="m-content">
            <hitokoto></hitokoto>
            <recentposts></recentposts>
            <timeline></timeline>
            <post></post>
            <page></page>
            <records></records>
            <gallery></gallery>
            <!-- END content -->
          </div>
          <comment></comment>
          <!-- END main -->
        </div>
        <div class="m-aside">
          <panels></panels>
          <audioplayer></audioplayer>
          <toc></toc>
          <!-- END aside -->
        </div>
      </div>
    </div>
    <div class="m-footer">
      <footer></footer>
      <!-- END footer -->
    </div>
    <goingto></goingto>
    <extension></extension>
    <search></search>
    <!-- END app -->
  </div>
</body>

</html>