<div class="p-hitokoto" data-api="<%- theme.hitokoto.api %>" data-type="<%- theme.hitokoto.type %>">
  <div class="p-hitokoto-caption">
    <%- theme.hitokoto.icon %>
    <span data-lang="hitokoto"></span data-lang="hitokoto">
  </div>
  <div class="p-hitokoto-word">
    <span class="p-hitokoto-content"><%- theme.hitokoto.content %></span>
  </div>
  <div class="p-hitokoto-from">
    <span class="p-hitokoto-name"><%- theme.hitokoto.name %></span>
  </div>
  <img src="<%- theme.hitokoto.image %>">
</div>