<div p-hitokoto data-api="<%- theme.hitokoto.api %>" data-type="<%- theme.hitokoto.type %>">
  <div p-hitokoto-caption>
    <%- theme.hitokoto.icon %>
    <span data-lang="hitokoto"></span data-lang="hitokoto">
  </div>
  <div p-hitokoto-word>
    <span p-hitokoto-content><%- theme.hitokoto.content %></span>
  </div>
  <div p-hitokoto-from>
    <span p-hitokoto-name><%- theme.hitokoto.name %></span>
  </div>
  <img src="<%- theme.hitokoto.image %>">
</div>