<div p-menus>
  <% $forIn(theme.menus, (name, menu) => { %>
  <div p-menu>
    <div p-menu-caption data-lang="menus.<%- name %>.caption"></div>
    <div p-menu-items>
      <% $forIn(menu, (key, item) => { %>
      <a data-menu-key="<%- key %>" href="<%- item.url %>">
        <%- item.icon %>
        <span p-menu-items-name data-lang="menus.<%- name %>.items.<%- key %>"></span>
      </a>
      <% }); %>
    </div>
  </div>
  <% }); %>
</div>