<div p-post>
  <div p-post-caption>
    <%- theme.post.icons.caption %>
    <span data-lang="post.caption"></span>
  </div>
  <div p-post-main>
    <div p-post-title></div>
    <div p-post-meta>
      <div p-post-date data-lang="post.date" data-lang-titled>
        <%- theme.post.icons.date %>
        <span></span>
      </div>
      <div p-post-updated data-lang="post.updated" data-lang-titled>
        <%- theme.post.icons.updated %>
        <span></span>
      </div>
      <div p-post-categories data-lang="post.categories" data-lang-titled>
        <%- theme.post.icons.categories %>
        <span></span>
      </div>
      <div p-post-wordcount data-lang="post.wordcount" data-lang-titled>
        <%- theme.post.icons.wordcount %>
        <span></span>
      </div>
      <div p-post-min2read data-lang="post.min2readt" data-lang-titled>
        <%- theme.post.icons.min2read %>
        <span data-lang="post.min2read" data-lang-params></span>
      </div>
      <div p-post-viewcount data-lang="post.viewcount" data-lang-titled>
        <%- theme.post.icons.viewcount %>
        <span class="leancloud_visitors" data-flag-title><i class="leancloud-visitors-count">∞</i></span>
      </div>
    </div>
    <div p-post-content class="markdown-body"></div>
    <div p-post-ending>
      <span data-lang="post.ending.head"></span>
      <%- theme.post.icons.ending %>
      <span data-lang="post.ending.tail"></span>
    </div>
    <div p-post-friend>
      <div p-post-friend-text data-lang="post.friend.text"></div>
      <div p-post-friend-button data-lang="post.friend.button"></div>
      <div p-post-friend-qrcode>
        <div p-post-friend-qrcode-qq>
          <img src="<%- theme.post.qrcode.qq %>">
          <div data-lang="post.friend.qq"></div>
        </div>
        <div p-post-friend-qrcode-wechat>
          <img src="<%- theme.post.qrcode.wechat %>">
          <div data-lang="post.friend.wechat"></div>
        </div>
      </div>
    </div>
    <div p-post-share></div>
    <div p-post-license>
      <div p-post-license-author>
        <span class="label" data-lang="post.license.labels.author"></span>
        <span p-post-license-author-text><%= config.author %></span>
      </div>
      <div p-post-license-link>
        <span class="label" data-lang="post.license.labels.link"></span>
        <span p-post-license-link-text></span>
      </div>
      <div p-post-license-notice>
        <span class="label" data-lang="post.license.labels.notice"></span>
        <span p-post-license-notice-text data-lang="post.license.text" data-lang-params="<%- $encodeHTML(`
          <a target="_blank" href="${theme.license.url}" title="${theme.license.name}">
            ${theme.license.icon}
            <span>${theme.license.name}</span>
          </a>
        `) %>" data-lang-encoded></span>
      </div>
    </div>
    <div p-post-tags></div>
    <div p-post-navigator>
      <div p-post-navigator-prev></div>
      <div p-post-navigator-next></div>
      <div p-post-navigator-clear></div>
    </div>
  </div>
</div>