<div class="p-records">
  <div class="p-record">
    <div class="p-record-caption">
      <%- theme.records.icon %>
      <span data-lang="records.caption"></span>_<span class="p-record-date"><%- theme.records.na %></span>
    </div>
    <div class="p-record-frame">
      <div class="p-record-main">
        <div class="p-record-cover">
          <img src="<%- theme.records.cover %>">
        </div>
        <div class="p-record-content">
          <div class="p-record-title">
            <span class="p-record-inner"><%- theme.records.na %></span>
          </div>
          <div class="p-record-type">
            <span class="p-record-label" data-lang="records.labels.type"></span>
            <span class="p-record-inner"><%- theme.records.na %></span>
          </div>
          <div class="p-record-source">
            <span class="p-record-label" data-lang="records.labels.source"></span>
            <span class="p-record-inner"><%- theme.records.na %></span>
          </div>
          <div class="p-record-author">
            <span class="p-record-label" data-lang="records.labels.author"></span>
            <span class="p-record-inner"><%- theme.records.na %></span>
          </div>
          <div class="p-record-progress">
            <span class="p-record-label" data-lang="records.labels.progress"></span>
            <div class="p-record-inner">
              <div class="p-record-progress-current"><%- theme.records.na %></div>
            </div>
          </div>
          <div class="p-record-summary">
            <span class="p-record-label" data-lang="records.labels.summary"></span>
            <div class="p-record-inner"><%- theme.records.na %></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>